.wrapper {
    background-image: url('../assets/bg/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: minmax(0, 0.45fr) minmax(0, 0.55fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    gap: 6rem;
    padding: 7.5%;
}

/* .container * {
    min-height: 0;
} */

.facility {  
    display: grid;
    grid-template-columns: 0.57fr 0.43fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    justify-items: center;
}

.facility > img {
    border-radius: 30px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facility img:nth-child(1) {
    grid-column: 1 / -1;
    border-radius: 20px;
}

.mainText {
    justify-self: center;
    padding: 6% 0;
    /* max-height: 100%; */
}

.mainText h2 {
    font-family: 'Michroma', sans-serif;
    color: #E02323;
    text-align: center;
    font-size: 1.9rem;
    margin: 0;
    -webkit-text-stroke-width: 1.75px;
    letter-spacing: 4px;
}

.mainText p {
    font-size: 1rem;
    text-align: justify;
}

.mainText button {
    display: block;
    margin: 0 auto;
    background-color: rgba(200, 33, 33, 0.81);
}   

.shadow {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.news {
    padding: 0 5%;
    margin: 0 auto;
}

.news h3 {
    font-family: 'Michroma', sans-serif;
    font-size: 1rem;
    margin: 0;
    margin-bottom: -1.5%;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2.5px;
}

.news h2 {
    font-family: 'Michroma', sans-serif;
    color: #E02323;
    font-size: 2.1rem;
    margin: 0;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 4px;
}

.news p {
    text-align: justify;
    margin-top: 0;
}

.actionButtons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.actionButtons button {
    /* box-sizing: border-box; */
    background-color: rgba(200, 33, 33, 0.81);
    padding: 3% 6%;
    font-size: 0.75rem;
}

.actionButtons button:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.81);
}

.actionButtons button svg {
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background-color: transparent;
}

.products {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    width: 100%;
    height: 100%;
}

.products figure {
    margin: 0;
    background-color: #F5F5F5;
    border-radius: 45px;
    /* height: 100%; */
}

.products figure img {
    border-radius: inherit;
}

.products figure figcaption {
    font-size: 0.75rem;
    padding: 0.5rem 0;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
}


@media only screen and (max-width: 1200px) {
    .facility {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        grid-template-columns: auto;
        gap: 1rem;
    }

    .facility {
        /* grid-template-columns: 0.65fr 0.35fr; */
        /* grid-template-rows: 1fr 0.8fr; */
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
    .facility img:nth-child(1) {
        grid-column: auto;
    }

    .facility img:nth-child(3) {
        /* grid-column: 2; */
        grid-row: 1 / -1;
    }

    
    .mainText h2 {
        font-size: 1.75rem;
        -webkit-text-stroke-width: 1.5px;
    }
    
    .mainText button {
        font-size: 0.9rem;
    }   
    
    .news {
        margin-bottom: 1.5rem;
        padding: 0;
    }
    
    .news h3 {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .news h3, .news h2 {
        text-align: center;
    }
    
    .news h2 {
        font-size: 1.75rem;
        margin-bottom: 0.25rem;
    }
    
    .actionButtons {
        justify-content: space-around;
    }
    
    .actionButtons button {
        font-size: 0.9rem;
        padding: 0.8rem 1.6rem;
    }

    .actionButtons button svg {
        width: 1.35rem;
        height: 1.35rem;
    }
    
    .products {
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    
    .products figure {
        margin: 0 auto;
    }
    
    .products figure img {
        width: 100%;
    }
    
    .products figure figcaption {
        padding: 0;
        padding-bottom: 0.25rem;
    }
}

@media only screen and (max-width: 595px) {
    .mainText h2 {
        font-size: 1.5rem;
        /* -webkit-text-stroke-width: 1.5px; */
    }

    .actionButtons button:nth-child(2) {
        flex-direction: column;
        row-gap: 0.25rem;
        padding: 0.8rem;
    }
}