html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
}